<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Roboto&display=swap" rel="stylesheet">
  <link id="favicon" rel="icon" href="/assets/favicon-record.png" type="image/png" sizes="48x48">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title><%= title %></title>
  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body id="landing-page">
<main id="landing-page">
  <h1>Shelver</h1>

  <img
  id="shelver-logo"
  src="../../assets/shelver-logo-wh-full.png"
  width="160px"
  padding="0px"
  alt="Logo"
  >
  <h2>take control of your music library</h2>

  <br>

  <% if (user) { %>
    <p style="text-align: center; font-weight: bold;">
      welcome, <%= user ? user.profile.name : "friend" %>.
    </p>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
          border="2px solid #ffffff"
        />
      </div>
    <% } %>
    <br>
    <form action="/albums" method="GET">
      <button type="submit">Continue to public shelf</button>
    </form>
  <% } else { %>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
      data-prompt_parent_id="g_id_onload"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <br>
    <form action="/albums" method="GET">
      <button type="submit">Continue without login</button>
    </form>
  <% } %>


</main>

</body>
</html>