<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Shelver</h1>
  <h2>take control of your music library</h2>


  <% if (user) { %>
    <p>[if user logged in]</p>
    <h3>hello, <%= user ? user.profile.name : "friend" %></h3>
    <% if (user?.profile.avatar) { %>
      <div>
        <img
          src="<%= user.profile.avatar %>"
          alt="<%= user.profile.name %> avatar"
        />
      </div>
    <% } %>
    <form action="/albums" method="GET">
      <button type="submit">Continue to public shelf</button>
    </form>
  <% } else { %>
    <p>[if user not logged in]</p>
    <div 
      id="g_id_onload"
      data-client_id="<%= googleClientID %>"
      data-login_uri="/auth/google"
      data-auto_prompt="false"
      data-prompt_parent_id="g_id_onload"
    ></div>
    <div 
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    ></div>
    <br>
    <form action="/albums" method="GET">
      <button type="submit">Continue without login</button>
    </form>
  <% } %>







</main>

<%- include('./partials/footer') %>
