<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>[🔎 to view album details.]</p>

  <table id="shelf-display-normal">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th></th>
        <th>Year</th>
        <th>Record Label</th>
      </tr>
    </thead>
    <tbody>
      <% albums.forEach((album) => { %>
      <tr>
        <td><i><%= album.title %></i></td>
        <td><%= album.artist %></td>
        <td><a href="/albums/<%= album._id %>">🔎</a></td>
        <td><%= album.releaseYear %></td>
        <td><%= album.recordLabel %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  
  <container id="shelf-display-small">
    <% albums.forEach((album) => { %>
      <div>
        <i><%= album.title %></i> - 
        <%= album.artist %>
        &nbsp;
        <a href="/albums/<%= album._id %>">🔎</a>
      </div>
      <div>
        <%= album.releaseYear %> - 
        <%= album.recordLabel %>
        
      </div>
    <br>
    <% }) %>
  </container>


</main>

<%- include('../partials/footer') %>
