<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>



<main>
  <h1><%= title %></h1>

  <table id="">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        <th>Year</th>
        <th>Record Label</th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <% albums.forEach((album) => { %>
      <tr>
        <td><%= album.title %></td>
        <td><%= album.artist %></td>
        <td><%= album.releaseYear %></td>
        <td><%= album.recordLabel %></td>
        <td><a href="/albums/<%= album._id %>">🔎</a></td>
        <td>
          <form 
          id="form-temp-name" 
          action="/albums/<%= album._id %>/removeFromMyShelf?_method=DELETE" 
          method="POST"
          >
          <button type="submit">❌</button>
          </form>
        </td>
        
       


      </tr>
      <% }) %>
    </tbody>
  </table>

</main>

<%- include('../partials/footer') %>
