<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Shelver</h1>
  <h2>album detail</h2>

<section>
  <div>Title: </div>
  <div><%= album.title %></div>
  <div>Artist: </div>
  <div><%= album.artist %></div>
  <div>Release year: </div>
  <div><%= album.releaseYear %></div>
  <div>Record label: </div>
  <div><%= album.recordLabel %></div>
</section>

<!-- hard to see but there's a pencil emoji in there: -->
<h3><a href="/albums/<%= album._id %>/edit">✏️</a></h3> 

</main>

<%- include('../partials/footer') %>