<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h2>"<%= album.title %>" Details</h2>

  <table id="album-details">
    <tr>
      <td>Title:</td>
      <td><i><%= album.title %></i></td>
    </tr>
    <tr>
      <td>Artist:</td>
      <td><%= album.artist %></td>
    </tr>
    <tr>
      <td>Release year:</td>
      <td><%= album.releaseYear %></td>
    </tr>
    <tr>
      <td>Record label:</td>
      <td><%= album.recordLabel %></td>
    </tr>
    <tr>
      <td>Added by:</td>
      <td><%= album.owner.name %></td>
    </tr>
    </tbody>
  </table>


<container id="album-details-btns-container">

<% if (album.owner.equals(user?.profile._id)) { %>
  <form 
    id="form-temp-name" 
    action="/albums/<%= album._id %>/addToMyShelf"
    method="POST"
  >
    <button type="submit">Add to My Shelf</button>
  </form>
<% } %>
&nbsp;&nbsp;

<!-- display for logged-in user only -->
<% if (user) { %>
  <form
    id="form-temp-name" 
    action="/albums/<%= album._id %>/edit"
    method="GET"
  >
      <!-- hard to see but there's a pencil emoji in there: -->
      <button type="submit">✏️</button>
  </form>
<% } %>
&nbsp;&nbsp;

<!-- display for album owner only -->
<% if (album.owner.equals(user?.profile._id)) { %>
<form 
  id="form-temp-name" 
  action="/albums/<%= album._id %>?_method=DELETE" 
  method="POST"
>
  <button type="submit">🗑️</button>
</form>
<% } %>

</container>


<% if (user) { %>
  <br>
  <form
  id="form-temp-name" 
  action="/albums/<%= album._id %>/reviews"
  method="POST"
  >
    <label for="review-input">Add a review:</label>
    <textarea
      name="content"
      id="review-input"
      placeholder="Type here. Keep it clean you animals."
      rows="4" cols="36"
    ></textarea>

    <div style="display: flex; flex-direction: row; margin-top: 10px;">
      <label for="rating-input">Rating:&nbsp;&nbsp;</label>
      <select name="rating" id="rating-input">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
    </div>
    <button type="submit" style="margin-top: 10px">Add Review</button>
  </form>
  <br>
<% } %>



<% if (Array.isArray(album.reviews) && album.reviews.length > 0) { %>
  <h2>Reviews</h2>
  
  <ul style="margin: 0px;">
    <% album.reviews?.forEach(review => { %>
      <li>
        <%= review.content %>&nbsp;&nbsp;
        [&nbsp;<%= review.rating %>&nbsp;/&nbsp;5&nbsp;] &bull; left by <%= review.author.name %>
      </li> 
      <% }) %>
    </ul>
  <% } else { %>
  <% } %>
    
  </main>
  
<%- include('../partials/footer') %>